[submodule "services/workflow"]
	path = services/workflow
	url = http://github.com/genome/ptero-workflow.git
[submodule "services/shell-command"]
	path = services/shell-command
	url = http://github.com/genome/ptero-shell-command.git
[submodule "services/petri"]
	path = services/petri
	url = http://github.com/genome/ptero-petri.git
[submodule "perl-sdk"]
	path = perl-sdk
	url = http://github.com/genome/ptero-perl-sdk.git
[submodule "common"]
	path = common
	url = http://github.com/genome/ptero-common.git
[submodule "services/lsf"]
	path = services/lsf
	url = http://github.com/genome/ptero-lsf.git
[submodule "deployment"]
	path = deployment
	url = http://github.com/genome/ptero-deployment.git
