[submodule "services/workflow"]
	path = services/workflow
	url = https://github.com/genome/ptero-workflow.git
[submodule "services/shell-command"]
	path = services/shell-command
	url = https://github.com/genome/ptero-shell-command.git
[submodule "services/petri"]
	path = services/petri
	url = https://github.com/genome/ptero-petri.git
[submodule "apis"]
	path = apis
	url = https://github.com/genome/ptero-apis.git
[submodule "deployment"]
	path = deployment
	url = https://github.com/genome/ptero-deployment.git
[submodule "perl-sdk"]
	path = perl-sdk
	url = https://github.com/genome/ptero-perl-sdk.git
